<launch> 
    <node name="distance_sensor" pkg="distance_118x" type="distance_node.py" args="false"/>
    <include file="$(find force_source)/launch/joystick_force.launch" />
    <node name="controller" pkg="controller" type="controller_node.py" />
    <node name="set_mode_client" pkg="controller" type="set_mode_client.py" args="captive 2.0" />
</launch>
