<launch> 
    <param name="controller_mode" type="string" value="tracking"/>
    <include file="$(find distance_118x)/launch/distance_sensor.launch" />
    <include file="$(find setpt_source)/launch/joystick2.launch" />
    <include file="$(find controller)/launch/controller.launch" />
    <include file="$(find controller)/launch/set_mode.launch" />
</launch>
