<launch> 
    <param name="controller_mode" type="string" value="motor_cmd"/>
    <include file="$(find distance_118x)/launch/distance_sensor.launch" />
    <include file="$(find controller)/launch/controller.launch" />
    <include file="$(find data_loggers)/launch/motor_cmd_logger.launch" />
    <include file="$(find controller)/launch/set_mode.launch" />
    <include file="$(find motor_cmd_source)/launch/step_source.launch" />
</launch>
