<launch> 
    <include file="$(find distance_118x)/launch/distance_sensor.launch" />
    <include file="$(find safety)/launch/bounds_checker.launch" />
    <include file="$(find safety)/launch/watchdog_pulse.launch" />
    <include file="$(find actuator_source)/launch/joystick.launch" />
    <include file="$(find sled_io)/launch/sled_io.launch" />
    <include file="$(find force_source)/launch/force_calibration.launch" />
</launch>
