<launch> 
    <param name="controller_mode" type="string" value="motor_cmd"/>
    <include file="$(find distance_118x)/launch/distance_sensor.launch" />
    <include file="$(find safety)/launch/bounds_checker.launch" />
    <include file="$(find safety)/launch/watchdog_pulse.launch" />
    <include file="$(find motor_cmd_source)/launch/joystick.launch"/>
    <include file="$(find sled_io)/launch/sled_io.launch" />
</launch>
